<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="grid.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157815234-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-157815234-1');
    </script>

    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="clear col-12">
            <h1>{{title}}</h1>
        </div>
        <div class="clear col-12">
            <p>{{description}}</p>
        </div>
    </div>
{% for item in items %}
<div class="row">
    <div class="col-12 col-xl-5 header"><a href="{{item.folder}}/index.html"><i class="fa fa-film"></i> {{item.name}}
    </a></div>
    <div class="col-12 col-xl-7">{{item.description}}</div>
</div>
{% endfor %}
</div>
</body>
</html>